<main class="index-page container-fluid">

<div class="row description-row">
	<div class="col-lg-6 description-list">
		<h1>Our Features</h1>
		<ul>
			<li><mark>Add new items</mark> &#x271A;</li>
			<li><del>Mark items as done</del> &#x2714;</li>
			<li style="opacity: 0.6;">Remove items &#x2716;</i></li>
			<li><ins>Edit items</ins> &#x270D;</li>
		</ul>
		<a href="/mylist">
			<div class="app-button">
				Use App
			</div>
		</a>
	</div>
	
	<div class="col-lg-6 description-image">
		<img src="/images/todo.png">
	</div>
</div>

</main>


<link rel='stylesheet' href='/stylesheets/index.css' />
<script type="text/javascript" src="/javascripts/index.js"></script>