body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
	border-radius: 10px;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
}

#nav-brand {
	color: black;
	font-weight: bold;
}